<div class="navbar">
    <div class="img">
        <img src="assets/img/cat.png" width="70px" height="70px" alt="">
    </div>
    <nav>
        <a href="#">Login</a>
        <a href="#">Registrar</a>
    </nav>
</div>
<main>
    <div class="coluna1">
        <img src="assets/img/cat01.jpg" width="500px" height="700px" alt="">
        <img src="assets/img/cat02.jpg" width="500px" height="700px" alt="">
        <img src="assets/img/cat05.jpg" width="450px" height="700px" alt="">
    </div>
    <div class="coluna2">
        <img src="assets/img/cat11.jpg" width="725px" alt="">
        <img src="assets/img/cat08.jpg" width="725px" alt="">
    </div>
    <div class="coluna3">
        <img src="assets/img/cat04.jpg" width="1455px" height="700px" alt="">
    </div>
    <div class="coluna4">
        <img src="assets/img/cat12.jpg" width="500px" height="700px" alt="">
        <img src="assets/img/cat09.jpg" width="500px" height="700px" alt="">
        <img src="assets/img/cat06.jpg" width="450px" height="700px" alt="">
    </div>
    <div class="coluna5">
        <img src="assets/img/cat03.jpg" width="725px" height="600px" alt="">
        <img src="assets/img/cat13.jpg" width="725px" height="600px" alt="">
    </div>
    <div class="coluna6">
        <img src="assets/img/cat07.jpg" width="1455px" height="700px" alt="">
    </div>
</main>

<footer>
    <div class="footer"><p>Todos os direitos reservados &copy</p></div>
</footer>